// THIS FILE IS IMPORTED INTO EVERY COMPONENT - DO NOT BLOAT
// https://austingil.com/global-sass-vue-project/

// Responsive breakpoints.
// Should be used as max values.
$bp-large: 1200px;
$bp-medium: 1000px;
$bp-small: 700px;
$bp-xsmall: 500px;
