/**
* IBM Carbon Styling
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap');

:root {
	--ibm-blue: #0f62fe;
	--ibm-blue-dark: #0353e9;
	--ibm-blue-darker: #0043ce;
	--ibm-black: #393939;
	--ibm-black-dark: #4c4c4c;
	--ibm-light-gray: #f4f4f4;
	--ibm-font-fam: 'IBM Plex Sans', sans-serif;
	--ibm-font-size: 14px;
	--ibm-line-height: 18px;
}

/**
 * Links
 */
a {
	text-decoration: none;
}
a:not(.dumb).router-link-exact-active,
a:not(.dumb).router-link-exact-active:hover {
	/* When we link to a url parameter, the link
	 * will be marked with router-link-exact-active
	 * causing it to be underlined and not clickable.
	 * That's why we have the .dumb class to override.
	 */
	color: var(--ibm-black);
	text-decoration: underline;
	pointer-events: none;
}

/**
 * Hover states
 */

@media (hover: hover) {
	a:hover {
		color: var(--ibm-blue-darker);
	}
}
