/**
 * This file contains component bug fixes
 * that we may submit to the Carbon repo.
 */

/* Allow dropdowns to expand outside of the content box and the dialog. */
.bx--modal-container,
.bx--modal-content {
	overflow: visible;
}
.cv-modal.scrollable .bx--modal-content {
	overflow: auto;
}

/* Remove focus outline from modal content. */
.bx--modal-content:focus {
	outline: none;
}

/* Disabled items in dropdown, currently not supported */
.bx--dropdown--open .bx--dropdown-item[disabled]:not([disabled='false']) {
	opacity: 0.5;
	pointer-events: none;
}
/* Hidden items in dropdown, currently not supported */
.bx--dropdown--open .bx--dropdown-item[hidden]:not([hidden='false']) {
	display: none;
}

.bx--modal-container {
	max-height: calc(100% - 40px) !important;
}
