/**
 * General
 */

#app {
	height: 100%; // Required for file-browser to stretch to the bottom.
}

// Small text
small,
.small {
	font-size: $font-size-small;
	line-height: $line-height-small;
}

// Soft text
.soft,
.soft a,
.soft a.lookup {
	color: #aaa;
}

// Status messages
.error-msg {
	color: $error;
}
.status-msg {
	color: $black-30;
	font-size: $font-size-small;
	line-height: $line-height-small;
	margin-top: 4px;
}

// For the success message to be centered.
html,
body {
	height: 100%;
	// box-sizing: border-box;
}
body {
	margin: 0;
	font-family: $font-fam;
	font-size: $font-size;
	line-height: $line-height;
	color: $black;
}

// Links
a:hover {
	text-decoration: underline;
}
a.lookup,
a.lookup > div {
	color: $black;
	text-decoration: underline;
	text-decoration-color: $black-20;
	text-decoration-style: dashed;
	// text-underline-offset: 3px;
	position: relative;
}
a.lookup:hover {
	color: $blue;
	text-decoration-color: $black-30;
	text-decoration-style: solid;
}
a.lookup:hover::after {
	content: '';
	width: 18px;
	height: 18px;
	position: absolute;
	right: -22px;
	top: 2px;
	z-index: 1;
	background: #fff
		url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="rgba(0,0,0,.3)" xmlns="http://www.w3.org/2000/svg"><path d="M14.5 13.7929L10.7239 10.0169C11.6313 8.92758 12.0838 7.53038 11.9872 6.11596C11.8907 4.70153 11.2525 3.37879 10.2055 2.42288C9.15855 1.46698 7.78335 0.951515 6.366 0.983723C4.94865 1.01593 3.59828 1.59333 2.59581 2.59581C1.59333 3.59828 1.01593 4.94865 0.983723 6.366C0.951515 7.78335 1.46698 9.15855 2.42288 10.2055C3.37879 11.2525 4.70153 11.8907 6.11596 11.9872C7.53038 12.0838 8.92758 11.6313 10.0169 10.7239L13.7929 14.5L14.5 13.7929ZM2 6.5C2 5.60998 2.26392 4.73995 2.75838 3.99993C3.25285 3.25991 3.95565 2.68313 4.77792 2.34254C5.60019 2.00194 6.50499 1.91283 7.3779 2.08646C8.25082 2.2601 9.05264 2.68868 9.68198 3.31802C10.3113 3.94735 10.7399 4.74918 10.9135 5.62209C11.0872 6.495 10.998 7.3998 10.6575 8.22207C10.3169 9.04434 9.74008 9.74714 9.00006 10.2416C8.26004 10.7361 7.39001 11 6.5 11C5.30693 10.9987 4.1631 10.5241 3.31948 9.68052C2.47585 8.83689 2.00132 7.69306 2 6.5Z"/></svg>')
		center center no-repeat;
	text-decoration: none;
}

// Headers
h1 {
	margin: 0;
}
h2 {
	font-weight: 400;
	margin: 0;
	margin-bottom: 10px;
}
p {
	margin-top: 0;
	margin-bottom: 10px;
}
i {
	font-style: italic;
}
hr {
	height: 1px;
	background-color: $black-10;
	border: none;
	margin: 40px 0;
}

// Lists
ul {
	list-style: disc;
	margin-inline-start: 20px;
}
ul li {
	margin-bottom: 8px;
}
ul.compact li,
ol.compact li {
	margin-bottom: 2px;
}
.bx--dropdown ul {
	margin-inline-start: 0;
}
.bx--dropdown ul li {
	margin-bottom: 0;
}

/**
 * Shortcuts
 */

.capitalize::first-letter {
	text-transform: capitalize; // Note: only works on divs
}
.v-align {
	display: flex;
	align-items: center;
}

/**
 * Styles
 */

// Code
span.code {
	background: $extra-soft-bg;
	border: solid 1px $black-10;
	border-radius: 2px;
	padding: 0 5px;
	font-family: 'IBM Plex Mono', monospace;
	font-style: normal;
}

/**
 * Settings Panel
 */

#options {
	background: var(--light-gray);
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 20px;
	display: inline-block;
	user-select: none;
	flex: 0;
}
#options h3 {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin: -10px -20px 0px -20px;
	padding: 0 20px;
}
#options p {
	margin-top: 0;
	margin-bottom: 20px;
	white-space: nowrap;
}
#options .ibm-dropdown .ibm-dd-display {
	background: #fff;
}
.multiselect-wrap {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 20px;
}

/* Toggle State */
#options.hide,
#options:not(.hide) + button {
	display: none;
}

/* Multiselect */
.multiselect {
	display: flex;
	flex-direction: column;
}
.multiselect h4 {
	font-size: 14px;
	margin: 0;
	margin-bottom: 5px;
}
.multiselect label {
	display: block;
	height: 16px;
	line-height: 16px;
	padding: 5px;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
}
.multiselect .cb {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	vertical-align: middle;
	box-sizing: border-box;
	position: absolute;
	left: 5px;
	top: 5px;
}
.multiselect input:checked + .cb::after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	margin: 2px;
	background: #0f62fe;
}
.multiselect input[type='checkbox'] {
	display: none;
}

/* Buttons */
.btn-wrap {
	display: flex;
	gap: 5px;
}

/**
 * Click to copy
 */
.click-copy {
	cursor: pointer;
}
.copy-blink {
	animation: blink 100ms 3;
	color: $success;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	49% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/**
 * Reusable animations
 */

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes ellipsis {
	0% {
		content: '';
	}
	25% {
		content: '.';
	}
	50% {
		content: '..';
	}
	75% {
		content: '...';
	}
}

// Shake animation for larger elements.
// Very subtle rotation.
@keyframes shake-large {
	0% {
		transform: scale(0.97) translate(0.5px, 0.5px) rotate(0deg);
	}
	10% {
		transform: scale(0.95) translate(-0.5px, -1px) rotate(-0.5deg);
	}
	20% {
		transform: scale(0.95) translate(-1.5px, 0px) rotate(0.5deg);
	}
	30% {
		transform: scale(0.95) translate(1.5px, 1px) rotate(0deg);
	}
	40% {
		transform: scale(0.95) translate(0.5px, -0.5px) rotate(0.5deg);
	}
	50% {
		transform: scale(0.95) translate(-0.5px, 1px) rotate(-0.5deg);
	}
	60% {
		transform: scale(0.95) translate(-1.5px, 0.5px) rotate(0deg);
	}
	70% {
		transform: scale(0.95) translate(1.5px, 0.5px) rotate(-0.5deg);
	}
	80% {
		transform: scale(0.95) translate(-0.5px, -0.5px) rotate(0.5deg);
	}
	90% {
		transform: scale(0.95) translate(0.5px, 1px) rotate(0deg);
	}
	100% {
		transform: scale(0.95) translate(0.5px, -1px) rotate(-0.5deg);
	}
}

// Shake animation for small elements.
// More pronounced rotation.
@keyframes shake-small {
	0% {
		transform: translate(0.25px, 0.25px) rotate(0deg);
	}
	10% {
		transform: translate(-0.25px, -0.5px) rotate(-3deg);
	}
	20% {
		transform: translate(-0.75px, 0px) rotate(3deg);
	}
	30% {
		transform: translate(0.75px, 0.5px) rotate(0deg);
	}
	40% {
		transform: translate(0.25px, -0.25px) rotate(3deg);
	}
	50% {
		transform: translate(-0.25px, 0.5px) rotate(-3deg);
	}
	60% {
		transform: translate(-0.75px, 0.25px) rotate(0deg);
	}
	70% {
		transform: translate(0.75px, 0.25px) rotate(-3deg);
	}
	80% {
		transform: translate(-0.25px, -0.25px) rotate(3deg);
	}
	90% {
		transform: translate(0.25px, 0.5px) rotate(0deg);
	}
	100% {
		transform: translate(0.25px, -0.5px) rotate(-3deg);
	}
}

/**
 * Hover
 */

@media (hover: hover) {
	.multiselect label:hover {
		background: rgba(0, 0, 0, 0.07);
	}
	*:not(table).click-copy:not(.copy-blink):hover {
		text-decoration: underline;
		text-decoration-style: dashed;
		text-decoration-color: $success-soft;
	}
	table.click-copy:not(.copy-blink):hover td,
	table.click-copy:not(.copy-blink):hover th {
		border-color: $success-soft;
	}
}
