/**
 * General
 */

body {
	// background: $soft-bg;
}
#app {
	// height: min-content;
	height: 100%; // Required for file-browser to stretch to the bottom.
	// border: solid 1px red;
}
.error-msg {
	color: $error;
}
.status-msg {
	color: $black-30;
	font-size: $font-size-small;
	line-height: $line-height-small;
	margin-top: 4px;
}

// For the success message to be centered.
html,
body {
	height: 100%;
	// box-sizing: border-box;
}
body {
	margin: 0;
	font-family: $font-fam;
	font-size: $font-size;
	line-height: $line-height;
	color: $black;
}
h1 {
	margin: 0;
}
h2 {
	font-weight: 400;
	margin: 0;
	margin-bottom: 10px;
}
p {
	margin-top: 0;
	margin-bottom: 10px;
}
.soft {
	color: #aaa;
}
hr {
	height: 1px;
	background-color: $black-10;
	border: none;
	margin: 40px 0;
}

/* Tricks */
.v-align {
	display: flex;
	align-items: center;
}

// Code
span.code {
	background: $extra-soft-bg;
	border: solid 1px $black-10;
	border-radius: 2px;
	padding: 0 5px;
	font-family: 'IBM Plex Mono', monospace;
}

/**
 * Settings Panel
 */

#options {
	background: var(--light-gray);
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 20px;
	display: inline-block;
	user-select: none;
	flex: 0;
}
#options h3 {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin: -10px -20px 0px -20px;
	padding: 0 20px;
}
#options p {
	margin-top: 0;
	margin-bottom: 20px;
	white-space: nowrap;
}
#options .ibm-dropdown .ibm-dd-display {
	background: #fff;
}
.multiselect-wrap {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 20px;
}

/* Toggle State */
#options.hide,
#options:not(.hide) + button {
	display: none;
}

/* Multiselect */
.multiselect {
	display: flex;
	flex-direction: column;
}
.multiselect h4 {
	font-size: 14px;
	margin: 0;
	margin-bottom: 5px;
}
.multiselect label {
	display: block;
	height: 16px;
	line-height: 16px;
	padding: 5px;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
}
.multiselect .cb {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	vertical-align: middle;
	box-sizing: border-box;
	position: absolute;
	left: 5px;
	top: 5px;
}
.multiselect input:checked + .cb::after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	margin: 2px;
	background: #0f62fe;
}
.multiselect input[type='checkbox'] {
	display: none;
}

/* Buttons */
.btn-wrap {
	display: flex;
	gap: 5px;
}

/**
 * Click to copy
 */
.click-copy {
	// position: relative;
	cursor: pointer;
}
.copy-blink {
	animation: blink 100ms 3;
	color: $success;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	49% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/**
 * Reusable animations
 */

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes ellipsis {
	0% {
		content: '';
	}
	25% {
		content: '.';
	}
	50% {
		content: '..';
	}
	75% {
		content: '...';
	}
}

/**
 * Hover
 */

@media (hover: hover) {
	.multiselect label:hover {
		background: rgba(0, 0, 0, 0.07);
	}
	.click-copy:not(.copy-blink):hover {
		text-decoration: underline;
		text-decoration-style: dashed;
		text-decoration-color: $success-soft;
	}
}
