@use 'sass:color';

// Fonts
$font-fam: 'IBM Plex Sans', sans-serif;
$font-size: 14px;
$font-size-small: 12px;
$line-height: 18px;
$line-height-small: 16px;

// Colors - blacks & grays
$black: #393939;
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2); // Not yet used
$black-30: rgba(0, 0, 0, 0.3);
$black-60: rgba(0, 0, 0, 0.6);
$soft-bg: #fafafa;

// Colors
$blue: #0f62fe; /* IBM Blue */
$blue-hover: #0043ce;
$blue-30: color.mix(#d00, #fff);
// $blue-30: color.mix(color.scale($blue, $alpha: 0.3), #fff);
// $blue-20: color.mix(color.scale($blue, $alpha: 0.2), #fff);
// $blue-15: color.mix(color.scale($blue, $alpha: 0.15), #fff);
// $blue-05: color.mix(color.scale($blue, $alpha: 0.05), #fff);
// $blue-30: #b7d0ff; /* Equivalent of 30% ibm-blue */
// $blue-20: #cfe0ff; /* Equivalent of 20% ibm-blue */
// $blue-15: #dbe7ff; /* Equivalent of 15% ibm-blue */
// $blue-05: #f3f7ff; /* Equivalent of 5% ibm-blue */
